/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #e53270;
    font-size: 38px;
}

.subtitle-text {
    font-size: 18px;
    text-align: center;
}

/* Team section */
.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
}

/* Card */
.card {
    margin-top: 30px;
    background-color: black;
    color: white;
}
.card img {
    width: 100px;
    float: left;
}
.card-content {
    float: right;
    width: calc(100% - 100px);
    padding: 10px;
}
.card h2 {
    text-transform: uppercase;
}
.role {
    font-size: 15px;
    margin: 5px 0;
}
.email {
    text-decoration: none;
    color: #4ba0c3;
}